ul{ /*순서없는 목록*/
    list-style-type : "*";  /*모양 정하기*/
}
li{ /*각 목록*/
    margin: 10px 0; /*마진*/
}

table{  /*테이블*/
    width: 700px;   /*넓이*/
    border : 1px solid black;   /*테두리*/
    text-align : center;    /*글자 정렬*/
    border-collapse: collapse;
}
td{ /*열*/
    width : 20%;    /*넓이*/
}